@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";

.button-reset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	font-family: var(--main-ff);
}


.logo {
	width: 20rem;

	@include mq(sm) {
		width: 14.3rem;
	}
}

.nav {
	ul {
		display: flex;
		align-items: center;

		li {
			margin-right: 2.5rem;

			&:last-child {
				margin-right: 0;
			}

			a {
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 1.7rem;
				transition: color 200ms;

				&:hover {
					color: var(--color-light-blue);
				}
			}

			&.current-menu-item {
				position: relative;

				&::before {
					position: absolute;
					bottom: calc(100% + 0.5rem);
					left: 50%;
					transform: translateX(-50%);
					width: 0.6rem;
					height: 0.6rem;
					background: linear-gradient(91.83deg, #095092 0%, #00A7E5 100%);
					border-radius: 50%;
					content: "";
				}
			}
		}
	}
}

.footer-nav {
	ul {
		li {
			margin-bottom: 4.5rem;


			@include mq(sm) {
				margin-bottom: 3rem;
			}

			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-weight: 500;
				font-size: 2.2rem;
				line-height: 3rem;
				font-family: var(--second-ff);
				transition: color 200ms;

				&:hover {
					color: var(--color-light-blue);
				}

				@include mq(sm) {
					font-size: 1.8rem;
					line-height: 2.3rem;
				}
			}
		}
	}

	@include mq(md) {
		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				width: 50%;
				margin-bottom: 3rem;
			}
		}
	}
}

.second-font {
	font-weight: 500;
	font-family: var(--second-ff);
}

.second-title {
	font-family: var(--second-ff);
	font-size: 4rem;
	line-height: 4.5rem;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 24rem;
	background: var(--color-btn-bg);
	color: var(--color-white);
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.7rem;
	border-radius: 1rem;
	cursor: pointer;
	overflow: hidden;

	span {
		display: flex;
		align-items: center;
		color: transparent;
		position: relative;
		line-height: 1;
		padding: 1.9rem 0 1.9rem 1.5rem;
		flex-shrink: 0;

		&::before {
			content: attr(data-text);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-white);
			position: absolute;
			left: 1rem;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateY(0) translateZ(0);
		}
		&::after {
			content: attr(data-text);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-white);
			position: absolute;
			left: 1rem;
			top: 0;
			width: 100%;
			height: 100%;
			transition: all .3s ease;
			transform: translateY(0) translateZ(0);
		}

		&::after {
			top: 100%;
			opacity: 0;
		}
	}

	&__icon {
		fill: var(--color-white);
		margin-right: 1.5rem;
		transition: transform 200ms;
	}

	&_white {
		background: var(--color-white);

		span {
			&::before,
			&::after {
				color: var(--color-blue);
			}
		}

		.button__icon {
			fill: var(--color-blue);
		}
	}

	&_white-black {
		background: var(--color-white);

		span {
			&::before,
			&::after {
				color: var(--color-dark);
			}
		}

		.button__icon {
			fill: var(--color-dark);
		}
	}

	&:hover {

		span {
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 1;
			}

			&::before,
			&::after {
				transform: translateY(-100%) translateZ(0);
			}
		}

		.button__icon-plus {
			transform: rotate(-90deg);
		}

	}
}

.form {
	width: 100%;

	&__heading {
		display: block;
		margin-bottom: 3rem;
		font-size: 2rem;
		line-height: 4.5rem;
	}

	&__input-container {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 2rem;

		ul {
			position: absolute;
			bottom: 0.2rem;
			right: 0.5rem;
			font-weight: 500;
			font-size: 1.2rem;
			color: red;
		}

		&._mb10 {
			margin-bottom: 1rem;
		}
	}

	&__input {
		width: 100%;
		background-color: transparent;
		border: 1px solid var(--border-color);
		border-radius: 1rem;
		padding: 1.7rem 1.7rem 1.8rem;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.5rem;
		outline: none;

		&::placeholder {
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.5rem;
			text-transform: uppercase;
			color: var(--color-dark);
		}

		&.parsley-error {
			border-color: red !important;
		}
	}

	&__textarea {
		width: 100%;
		background-color: transparent;
		border: 1px solid var(--border-color);
		border-radius: 1rem;
		padding: 1.7rem 1.7rem 1.8rem;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.5rem;
		min-height: 10.6rem;
		resize: none;
		outline: none;

		&::placeholder {
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.5rem;
			text-transform: uppercase;
			color: var(--color-dark);
		}
	}

	&__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			max-width: 15.5rem;
			font-size: 1.2rem;
			line-height: 1.4rem;
			color: rgba($color: #6F6F6F, $alpha: 0.7);

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__button {
		font-weight: 600;
		min-width: 14.9rem;

		&._width {
			min-width: 17.2rem;
		}
	}

	&._white {
		.form__input {
			border-color: var(--color-white);
			color: var(--color-white);

			&::placeholder {
				color: var(--color-white);
			}
		}

		.header__mobile-btn {
			span {
				background-color: var(--color-white);
			}
		}

		.form__textarea {
			border-color: var(--color-white);
			color: var(--color-white);

			&::placeholder {
				color: var(--color-white);
			}
		}

		.form__button-wrapper p {
			color: var(--color-white);
			max-width: 17.5rem;
		}

		.form__button {
			background: var(--color-white);
			color: var(--color-dark);

			span {
				&::before,
				&::after {
					color: var(--color-dark);
				}
			}
		}

		.form__button-icon {
			fill: var(--color-dark);
		}
	}
}

.social {
	display: flex;
	align-items: center;

	&__item {
		margin-right: 1.5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		fill: var(--color-dark);

		.icon {
			transition: fill 200ms;
		}

		&:hover {
			.icon {
				fill: var(--color-light-blue);
			}
		}
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	transform: opacity 200ms, visibillty 200ms;

	&._is-loaded {
		opacity: 0;
		visibility: hidden;
	}
}


.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;

	@include mq(sm) {
		gap: 20px 0;
	}
}

.section-name {
	display: block;
	font: var(--body-XL);

	@include mq(sm) {
		font: var(--body-S);
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 13.4rem;

	&._small {
		width: 7.2rem;

		.slider-nav__btn {
			width: 3.2rem;
			height: 3.2rem;

			.slider-nav__btn-icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5.6rem;
		height: 5.6rem;
		border-radius: 50%;
		border: 1px solid rgba($color: #2D3040, $alpha: 0.1);
		cursor: pointer;
		transition: background-color 200ms;

		&:hover {
			background-color: rgba($color: #2D3040, $alpha: 0.1);
		}

		&:active {
			transform: scale(0.99);
		}
	}

	&__btn-icon {
		width: 2.5rem;
		height: 2.5rem;
		fill: var(--color-dark);
	}
}

.mark {
	padding: 1.6rem 2.4rem;
	background-color: var(--color-white);
	width: 28.8rem;

	&__heading {
		display: flex;
		align-items: flex-start;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.9rem;
		text-transform: uppercase;
		margin-bottom: 2.4rem;

		span {
			display: block;
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 150%;
			text-transform: none;
			color: #ADADAD;
			padding-left: 0.4rem;
		}
	}

	&__coordinates {
		font: var(--body-M);
		margin-bottom: 2.5rem;
	}

	&__legend {
		display: block;
		font: var(--body-S);
		color: #ADADAD;
		margin-top: 2.5rem;
		margin-bottom: 0.4rem;
	}

	&__link {
		display: inline-block;
		font: var(--body-M);

		&:hover {
			text-decoration: underline;
		}
	}
}

.drop-menu-container {
	overflow: hidden;
	max-height: 0;

	transition: max-height 200ms;
}
