main.page-main.main
	section.error-page
		.site-container
			.error-page__container.grid-container
				.error-page__block
				.error-page__block
					h1.error-page__title Sorry — Page Not Found
					p.error-page__text Let’s try to find what you’re looking for.
					+button("Go to main", "white")(class="error-page__btn")
			.error-page__big-txt
				|	Error 404
