section.intro.lazy.customers-intro(data-bg="img/intro/intro-block2.webp" data-bg-fallback="img/intro/intro-block2.jpg")
    .site-container.intro__container
        .site-conteiner.intro__content.grid-container
            .intro__block
                h1
                    |   Our customers are&nbsp;seeing the impact
            .intro__block
                p
                    |   Low code retail optimization solutions to power a unified merchandising strategy
