.map {
    position: relative;
    width: 100%;
    height: 66rem;
    background-color: var(--color-grey2);
    margin-bottom: 6rem;

	@include mq(sm) {
		background-color: transparent;
		height: auto;
	}

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

		@include mq(sm) {
			display: none;
		}

        .gm-style .gm-style-iw-c {
            padding: 0 !important;
            box-shadow: 0px 120px 120px rgba(22, 34, 51, 0.08), 0px 64px 64px rgba(22, 34, 51, 0.12), 0px 32px 32px rgba(22, 34, 51, 0.04), 0px 24px 24px rgba(22, 34, 51, 0.04), 0px 4px 24px rgba(22, 34, 51, 0.04), 0px 4px 4px rgba(22, 34, 51, 0.04);
        }

        .gm-style .gm-style-iw-d {
            overflow: visible !important;
        }

        .gm-style .gm-style-iw-c {
            transform: none;
            left: 2rem;
        }

        .gm-style .gm-style-iw-t::after {
            content: none;
        }
    }
}


.offices {
	&__container {
		display: none;

		@include mq(sm) {
			display: block;
		}
	}

	&__title {
		font: var(--title-mobile);
		font-weight: 400;
		margin-bottom: 2.4rem;
	}

	&__list {
		width: 100%;
	}

	&__item {
		width: 100%;
		background-color: var(--color-white);
		border-radius: 1.5rem;
		overflow: hidden;
		margin-bottom: 0.8rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__heading {
		padding: 1.6rem 2rem;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__city {
		font: var(--body-L);
		margin-right: 1rem;
	}

	&__location {
		font: var(--body-S);
	}

	&__shevron-icon {
		width: 2.4rem;
		height: 2.4rem;
		fill: none;
		stroke: var(--color-dark);
		margin-left: auto;
	}

	&__body {
		padding: 2.6rem 2.5rem;
	}

	&__adres {
		font: var(--body-XL);
		margin-bottom: 3.8rem;
	}

	&__small-legend {
		display: block;
		margin-bottom: 0.2rem;
		font: var(--body-S);
	}

	&__link {
		display: inline-block;
		font: var(--body-L);
		margin-bottom: 1.6rem;

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}
}
