.proposition {
    margin-bottom: 14rem;

	@include mq(md) {
		margin-bottom: 10rem;
	}

	@include mq(sm) {
		margin-bottom: 6rem;
	}

    &__content {
        position: relative;
        background-color: var(--color-white);
        padding: 3rem;
        border-radius: 2rem;
        min-height: 50.5rem;

		@include mq(md) {
			min-height: 45.5rem;
		}

		@include mq(sm) {
			padding: 1.6rem;
			min-height: 0;
		}

        p {
            font: var(--body-XL);
            margin-bottom: 3.5rem;

			@include mq(sm) {
				font: var(--body-S);
				margin-bottom: 2.4rem;
			}
        }

        h2 {
            font: var(--title-L);
            max-width: 81rem;

			@include mq(sm) {
				font-size: 2.4rem;
				line-height: 2.7rem;
			}
        }
    }

    &__img {
        position: absolute;
        bottom: 4.5rem;
        right: 10rem;
        display: block;
        width: 34rem;
        height: 34rem;

		@include mq(md) {
			width: 18rem;
			height: 18rem;
		}

		@include mq(sm) {
			position: static;
			top: auto;
			left: auto;
			margin: 0 auto;
			margin-top: 4.6rem;
		}
    }
}
