.cards {
	position: relative;
	z-index: 5;
	width: 100%;
	counter-reset: section;

	&__item {
		position: relative;
		z-index: 4;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		background-color: var(--color-white);
		padding: 3rem 2.7rem 1.5rem 2.7rem;
		border-radius: 2rem;
		width: 100%;
		height: 66rem;

		@include mq(md) {
			width: 100%;
			max-width: 100%;

			height: 53.8rem;
		}

		@include mq(sm) {
			padding: 2.5rem 1.5rem 1.2rem 1.5rem;
		}

		&:not(:first-child) {
			position: absolute;
		}

		&:nth-child(2) {
			top: 4rem;
			left: 0;
			z-index: 3;
		}

		&:nth-child(3) {
			top: 8rem;
			z-index: 2;
		}

		&:nth-child(4) {
			top: 12rem;
			z-index: 1;
		}

		&:nth-child(5) {
			top: 16rem;
			z-index: 0;
		}

		&:nth-child(6) {
			top: 20rem;
			z-index: -1;
		}

		&:nth-child(7) {
			top: 24rem;
			z-index: -2;
		}

		&:nth-child(2n) {
			background-color: #CDCDD1;
		}

		&::before {
			position: absolute;
			left: 2.7rem;
			bottom: 1.6rem;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.5rem;
			counter-increment: section;
			content: counter(section);

			@include mq(sm) {
				left: 2rem;
				bottom: 1.3rem;
			}
		}

		h3 {
			font-weight: 700;
			font-size: 3rem;
			line-height: 3.5rem;
			font-family: var(--second-ff);
			margin-bottom: 6rem;

			@include mq(sm) {
				font-size: 2rem;
				line-height: 2.5rem;
				margin-bottom: 3.5rem;
			}
		}

		p {
			font-weight: 600;
			font-size: 2rem;
			line-height: 2.5rem;
			margin-bottom: 3.2rem;
			max-width: 38.3rem;

			@include mq(md) {
				max-width: 100%;
			}

			@include mq(sm) {
				font-size: 2rem;
				line-height: 2.5rem;
				margin-bottom: 2.5rem;
			}
		}

		ul {
			max-width: 34rem;
			margin-bottom: 3.7rem;

			@include mq(md) {
				max-width: 100%;
			}

			li {
				position: relative;
				padding-left: 1.9rem;
				margin-bottom: 2rem;
				font-size: 1.6rem;
				line-height: 1.9rem;

				&:last-child {
					margin-bottom: 0;
				}

				&:nth-child(n + 4) {
					display: none;
				}

				&::before {
					position: absolute;
					top: .6rem;
					left: 0.2rem;
					width: 0.5rem;
					height: 0.5rem;
					background-color: var(--color-blue);
					border-radius: 50%;
					content: "";
				}
			}
		}
	}

	&__item-customers {
		align-items: stretch;
		height: 52.4rem;

		@include mq(sm) {
			height: 59.8rem;
		}

		.cards__item-left {
			grid-column: 6 span;

			@include mq(md) {
				grid-column: 12 span;
			}
		}

		.cards__item-right {
			grid-column: 6 span;

			@include mq(md) {
				display: none;
			}
		}

		.cards__item-img {
			width: 100%;
			height: 46rem;
			border-radius: 20px;
			border: none;
			margin-left: 0;
			filter: none;
		}

		p {
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 1.9rem;
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:nth-child(2) {
			top: 4.6rem;
		}

		&:nth-child(3) {
			top: 9.2rem;
		}

		&:nth-child(4) {
			top: 13.8rem;
		}

		&:nth-child(5) {
			top: 18.4rem;
		}

		&:nth-child(6) {
			top: 23rem;
		}

		&:nth-child(7) {
			top: 27.6rem;
		}
	}

	&__item-link {
		margin-top: auto;
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: var(--color-dark);
		margin-bottom: 4.8rem;
	}

	&__item-link-icon {
		display: block;
		margin-left: 2rem;
		fill: var(--color-dark);
	}

	&__item-img-logo {
		display: block;
		margin-bottom: 5.2rem;
	}

	&__item-left {
		grid-column: 4 span;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@include mq(md) {
			grid-column: 12 span;
		}
	}

	&__item-right {
		grid-column: 8 span;
		display: block;
		align-self: flex-end;
		justify-self: center;

		@include mq(md) {
			display: none;
		}
	}

	&__item-bottom {
		grid-column: 12 span;
		margin-top: auto;
	}

	&__item-legend {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.5rem;
		padding-left: 2.3rem;
		text-transform: capitalize;
	}

	&__item-img {
		width: 83rem;
		height: 46.6rem;
		display: block;
		object-fit: cover;
		// margin-left: 4rem;
		filter: drop-shadow(10px 10px 54px rgba(0, 0, 0, 0.15));
		border: 4px solid #282828;
		border-radius: 10px;
	}
}
