.header {
	padding-top: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	--txt-color: var(--color-dark);

	&._secondary {
		--txt-color: var(--color-white);

		.header__logo {
			display: none;
		}

		.header__logo._mobile {
			display: block;
		}

		.header__mobile-btn {
			span {
				background-color: var(--color-white);
			}
		}
	}

	@include mq(sm) {
		padding-top: 2rem;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
	}

	&_left {
		grid-column: 6 span;
		display: flex;
		align-items: center;
	}

	&__logo {
		flex-shrink: 0;

		&._mobile {
			display: none;
		}
	}

	&_right {
		grid-column: 6 span;
		display: flex;
		align-items: center;
	}

	&__button {
		display: inline-block;
		margin-left: auto;
		background: url(../img/white-noise.png), var(--color-btn-bg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: var(--color-white);
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.7rem;
		padding: 0.6rem 1rem;
		border-radius: 2rem;
		cursor: pointer;
		transition: opacity 200ms;

		&:hover {
			opacity: 0.7;
		}
	}

	&__nav {
		@include mq(lg) {
			display: none;
		}

		ul {
			li {
				a {
					color: var(--txt-color);
				}
			}
		}
	}

	&__mobile-btn {
		position: relative;
		display: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
		flex-shrink: 0;

		&.is-active {
			span {
				background-color: var(--color-dark) !important;

				&:nth-child(1) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}

				&:nth-child(2) {
					top: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 100%;
			height: 0.3rem;
			background-color: var(--color-dark);
			border-radius: 2.4rem;
			transition: all 200ms;

			&:nth-child(1) {
				top: 40%;
			}

			&:nth-child(2) {
				top: 60%;
			}
		}

		&-icon {
			width: 2rem;
			height: 2rem;
		}

		@include mq(lg) {
			display: flex;
		}
	}
}
