.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #DDDDE2, $alpha: 0.7);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&.is-open {
		opacity: 1;
		visibility: visible;
		transition: opacity var(--transition-time), visibility var(--transition-time);
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--color-light-blue);
		border-radius: 2rem;
		max-width: 93.7rem;
		width: 100%;
		height: 56rem;
		display: none;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&.modal-open {
			display: block;
		}

		@include mq(lg) {
			height: auto;
		}

		@include mq(sm) {
			max-width: 94%;
			max-height: calc(100% - 2rem);
			overflow: auto;
		}
	}

	&__content {
		width: 100%;
		height: 100%;
		padding: 4rem;
		position: relative;
		display: flex;

		@include mq(lg) {
			display: block;
		}

		@include mq(sm) {
			padding: 2rem 1.6rem;
			height: calc(100% - 4rem);

			.form__button-wrapper {
				flex-direction: column;
				align-items: stretch;
				justify-content: stretch;

				p {
					order: 2;
					margin-top: 1.6rem;
				}
			}
		}
	}

	&__close-btn {
		position: absolute;
		top: 1.6rem;
		right: 1.6rem;
		z-index: 3;
		width: 2.4rem;
		height: 2.4rem;
		display: block;
		cursor: pointer;
		outline: none;

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 2px;
			border-radius: 2px;
			background-color: rgba($color: #fff, $alpha: 0.4);

			&:nth-child(1) {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&:nth-child(2) {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}

	&__small-legend {
		display: block;
		color: var(--color-white);
		font: var(--body-XL);
		margin-bottom: 3rem;

		@include mq(sm) {
			font: var(--body-S);
			margin-bottom: 2rem;
		}
	}

	&__legend {
		font: var(--title-L);
		color: var(--color-white);
		max-width: 41.5rem;

		@include mq(lg) {
			max-width: 100%;
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			font: var(--title-S);
		}
	}

	&__content-block {
		&:nth-of-type(1) {
			width: 54%;
			margin-right: 6rem;
		}

		&:nth-of-type(2) {
			align-self: flex-end;
			width: calc(54% - 6rem);
		}

		@include mq(lg) {
			width: 100% !important;
			margin-right: 0 !important;
		}
	}
}
.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translate(-50%, 10rem);
	transition: opacity var(--transition-time), transform var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity var(--transition-time), transform var(--transition-time);
}
