section.ceo.lazy(data-bg="img/ceo/ceo-bg.webp" data-bg-fallback="img/ceo/ceo-bg.jpg")
	.site-container.ceo__container.grid-container
		.ceo__block.ceo__content
			h2
				|   Message from the CEO
			p
				b
					|   We have founded GoalProfit to make powerful analytics as easy as your current spreadsheets.
			p
				|   The retail industry is the largest in the world by revenue - around $ 27T. Moreover, this is an area of high competition pressure. Profits are always at risk. Data-driven decisions are more profitable but current analytical solutions are too complex and not flexible.

			+button("Request A Demo", "white")(class="ceo__btn")
		.ceo__block
			+pictureLazy("ceo")(class="ceo__image")
			.ceo__contacts
				p.ceo__name
					|   Maxim
				p.ceo__position
					|   CEO & Co-FounderGoalProfit
				ul.ceo__social
					li.ceo__social-item
						a.ceo__social-link(href="/")
							+icon("wt")(class="ceo__social-icon" width="30" height="30")
					li.ceo__social-item
						a.ceo__social-link(href="/")
							+icon("tg")(class="ceo__social-icon" width="30" height="30")
					li.ceo__social-item
						a.ceo__social-link(href="/")
							+icon("mail")(class="ceo__social-icon" width="30" height="30")
		+button("Request A Demo", "white")(class="ceo__btn _mobile")
