section.history
    .site-container.history__container.grid-container
        .history__left-block.history__content
            h2
                |   Сompany History
            p
                |   We are a young company, our history is not yet rich in events, but we have already achieved significant results

            .slider-nav.history__slider-nav
                button.slider-nav__btn.button-reset.js-history-button-prev
                    +icon('arow-left')(width="25" heigth="25" class="slider-nav__btn-icon")
                button.slider-nav__btn.button-reset.js-history-button-next
                    +icon('arow-right')(width="25" heigth="25" class="slider-nav__btn-icon")

        .history__right-block
            .history__slider.js-history-slider
                - for (let i =0; i<4; i++)
                    .history__slider-item.history-item
                        .history-item__top
                            .history-item__left-block
                                .history-item__heading
                                    span.history-item__date
                                        |   20#{i}0
                                    .history-item__date-text
                                        p
                                            |   At the beginning
                                        P
                                            |   The road will be mastered by the walking
                                .history-item__content
                                    ul
                                        li
                                            |   GoalProfit Inc. is incorporated
                                        li
                                            |   Founder Institute acceleration is completed
                                        li
                                            |   20B data points reached
                            .history-item__right-block
                                +pictureLazy("history-item-img.jpg")(class="history-item__img")
                        .history-item__bottom
                            .history-item__bottom-block
                                span
                                    |   20#{i}0
                            .history-item__bottom-block
                                span
                                    |   At the beginning
