section.intro.lazy(data-bg="img/intro/intro-block.webp" data-bg-fallback="img/intro/intro-block.jpg")
    .site-container.intro__container
        .site-conteiner.intro__content.mod-title-max-width.grid-container
            .intro__block
                h1 
                    |   About Company
            .intro__block
                p
                    |   GoalProfit is the world’s first low code retail optimization platform empowering retailers to build customized intelligence applications