section.map
    .map__container(id="contact-us-map" data-map-icon="img/marker.svg")
        input(type="hidden" name="coordinates" value="[{name:'first', coords: [26.035092346155736, -80.16586537262737]}, {name:'second', coords: [50.05842801181518, 19.93552068166105]}]")

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM-QwzS2G0X_PiDPqQX9v4p1a66oHG2cE")