section.map
    .map__container(id="contact-us-map" data-map-icon="img/marker.svg")
        input(type="hidden" name="coordinates" value='[{"name": "Austin", "country": "USA", "street":"2700 N 29th Ave, STE 109, Hollywood, FL 33020", "email":"hello@goalprofit.com", "tel":"+0 (525) 156 548 1258", "coords": [26.035092346155736, -80.16586537262737]}, {"name": "KRAKOW", "country": "Finland", "street":"2700 N 29th Ave, STE 109, Hollywood, FL 33020", "email":"hello@goalprofit.com", "tel":"+0 (525) 156 548 1258", "coords": [50.05842801181518, 19.93552068166105]}]')

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM-QwzS2G0X_PiDPqQX9v4p1a66oHG2cE")