section.mission
    .site-container.mission__container
        +section-name("Our Mission")(class="mission__section-name")
        .mission__content
            p 
                |   GoalProfit is on a mission to make big data solutions available for all retailers and help them to survive in a new post-covid reality.

        .mission__content-info.grid-container 
            .mission__left-block
                +section-name("Post-covid reality")
            .mission__right-block
                .mission__content-info
                    p 
                        |   Retail bankruptcies in 2020 hit the highest levels in more than a decade, and experts say there are more to come.
                span.mission__nubmer(data-text="bankruptcies")
                    |   49
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mission__nubmer-plus">
                        <path d="M8.30303 20V0H11.697V20H8.30303ZM0 11.697V8.30303H20V11.697H0Z" fill="black"/>
                        <path d="M8.30303 20V0H11.697V20H8.30303ZM0 11.697V8.30303H20V11.697H0Z" fill="url(#paint0_linear_1_666)"/>
                        <defs>
                        <linearGradient id="paint0_linear_1_666" x1="0" y1="0" x2="20.6168" y2="0.657423" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#095092"/>
                        <stop offset="1" stop-color="#00A7E5"/>
                        </linearGradient>
                        </defs>
                    </svg>
                .mission__content-info-second
                    p 
                        |   “There were dozens of retail bankruptcies in 2020, and experts say the pain isn't over yet. S&P Global Market Intelligence tallied 49 bankruptcies in the retail space as of mid-November, including Ann Taylor parent Ascena Retail Group Inc.”