section.proposition
    .site-container.proposition__container 
        .proposition__content
            img(src="img/proposition-img.svg", alt="" class="proposition__img")
            p 
                |   GoalProfit’s Unique Value Proposition
            h2 
                |   Low code Data platform empowering retailers to build customized intelligence solutions.