section.intro.solution-intro.lazy(data-bg="img/solutions/intro-img.webp" data-bg-fallback="img/solutions/intro-img.jpg")
	.site-container.intro__container.solution-intro__container
		.intro__content.grid-container
			.intro__block
				h1
					|   Unlock Profitable Pricing
			.intro__block
				p
					|   Low code retail optimization solutions to&nbsp;power a&nbsp;unified merchandising strategy
		+pictureLazy("intro-img2.png", "Unlock Profitable Pricing")(class="solution-intro__img")

