extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "About Company"
	- const siteLang = "en"
	- const headerClass = "_secondary"

block content
	include pages/company/main
