extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Customers"
	- const siteLang = "en"
	- const headerClass = "_secondary"

block content
	include pages/customers/main.pug
