extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Resources Detail"
	- const siteLang = "en"
	- const headerClass = "_secondary"

block content
	include pages/news-detail/main.pug
