extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Resources"
	- const siteLang = "en"
	- const headerClass = "_secondary"

block content
	include pages/resourses/main.pug
