section.intro-block
	.site-container.intro-block__container
		.intro-block__content-container.intro-block__content.js-content-anim
			.intro-block_left
				h1
					|	The World’s First Low Code Retail Optimization Platform
				.text-mobile
					p
						|	Craft and data drive your merchandising decisions. Better pricing to Higher Profits.

				button.intro-block__btn.button.button-reset(data-path="callback" data-animation="fadeInUp")
					span(data-text="Request A Demo")
						|	Request A Demo
					+icon("plus")(width="20" height="20" class="button__icon button__icon-plus")
			.intro-block_right
				p
					|	Craft and data drive your merchandising decisions. Better pricing to Higher Profits.
				.intro-block__img.js-anim-img
					include svg-intro2.svg
