- let nav_arr = ["About","Solutions","Customers","Blog & News","Contacts"]

header.header.fix-block(class=headerClass)
	.site-container.header__container.js-start-anim-header
		.header_left
			button.button-reset.header__mobile-btn
				span
				span
			a.header__logo.logo._mobile(href="/")
				img(src="img/logo-white.svg" alt="Logo")

			a.header__logo.logo(href="/")
				img(src="img/logo.svg" alt="Logo")
		.header_right
			nav.nav.header__nav
				ul
					for item,index in nav_arr
						-let isActive = index == 0 ? "current-menu-item" : null
						li(class=isActive)
							a(href="/")=item
			button.button-reset.header__button(data-path="callback" data-animation="fadeInUp")
				|	Get In Touch
