- let nav_arr = ["About","Solutions","Customers","Blog & News","Contacts"]

header.header
	.site-container.header__container.js-start-anim-header
		.header_left
			button.button-reset.header__mobile-btn
				+icon("mobile-btn-icon")(width="16" height="16" class="header__mobile-btn-icon")
			a.header__logo.logo(href="/")
				img(src="img/logo.svg", alt="Logo")
		.header_right
			nav.nav.header__nav
				ul
					for item in nav_arr
						li
							a(href="/")=item
			button.button-reset.header__button
				|	Get In Touch
