.modal__container(data-target="callback" style="background-image: url(img/modalBg.jpg)")
	.modal__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal__content-block
			span.modal__small-legend Request A Demo
			p.modal__legend If you are a retailer, we will prepare a free tailored-made demonstration.
		.modal__content-block
			form.form._white(action="/" data-need-validation)
				label.form__input-container
					input.form__input(type="text" name="name" placeholder="name" data-parsley-required)
				label.form__input-container
					input.form__input(type="email" name="email" placeholder="Email" data-parsley-required)
				label.form__input-container
					textarea.form__textarea(name="qusetion" placeholder="Question")
				.form__button-wrapper
					p
						|	By clicking 'Send' you agree to the
						a(href="/")
							|	 Privacy Policy
					button.button-reset.button.form__button
						span(data-text="Send")
							|	Send
						+icon("button-arrow")(width="20" height="20" class="form__button-icon button__icon")

