.retailers {
	margin-bottom: 27rem;

	&__heading-wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		margin-bottom: 5.1rem;
	}

	&__left-block {
		grid-column: 6 span;
	}


	&__right-block {
		grid-column: 6 span;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__content {
		h2 {
			font-size: 4rem;
			line-height: 4.5rem;
			max-width: 46rem;
		}

		p {
			font-size: 1.6rem;
			line-height: 2rem;
			color: #A6A6B0;
			max-width: 23.9rem;

			b {
				color: var(--color-dark);
				display: block;
			}
		}
	}
}
